<%- include('blocks/header', {bot:bot, user: user}) %>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      
      <div class="container">
        
      <h1><%= bot.user.username %></h1><% if (bot.user.avatarURL) { %></div><% } %>
      <p>DanBot is on <%= indexstats.servers %> guilds and is watching over <%= indexstats.members %> members!</p>
      <p>Moderation, Music, Fun + many more commands, what are you waiting for! try DanBot today!</p>
      <p>New updates every few hours to make sure DanBot is always by your side protecting your server!</p>
      <p>Every month there is a chance to find a nitro code hidden in commands!</p>
      <h5>We are doing website updates... please wait</h5>
      <p>
        <a class="btn btn-primary" href="/commands" role="button"><i class="fa fa-fw fa-book" aria-hidden="true"></i> Bot Commands »</a>
      </p>
        </div>
    </div>
  </div>
  <p>We are trying to get the most linux uptime (Starting: 04.04.2019)</p>
  <p>Uptime: <%= indexstats.up %>, Last Boot: <%= indexstats.ups %></p>

<% include ./blocks/footer %>
